
<div class="editorialContainer">
    <div class="imageContainer">Img container</div>
    <aside>
        <header>Product Name</header>
        <sub>Merchant Name</sub>
        <article>Product Description Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit quos deserunt, distinctio incidunt quaerat voluptatem, dolor quibusdam rerum sapiente, nam commodi nulla ipsam veritatis aliquid magni consequatur libero quidem consectetur.</article>
    </aside>
    <footer>
        <button>CTA BUTTON</button>
    </footer>
</div>