.editorial-container {
  /* font-family:  "Neue Haas Grotesk Text Pro 55 Roman",sans-serif; */
  display: grid;
  max-width: 880px;
  height: 370px;
  grid-template-areas:
    "image main"
    "image bottom";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr auto;
  gap: 5px;
  -moz-box-shadow: 0 0 5px rgb(88, 83, 83);
  -webkit-box-shadow: 0 0 5px rgb(75, 69, 69);
  box-shadow: 0 0 5px rgb(65, 62, 62);
  grid-column: 1 /-1;
}

.editorial-container > .image-container {
  background: #bbb;
  grid-area: image;
}

.editorial-container > .image-container > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.editorial-container > aside {
  grid-area: main;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.editorial-container > aside > header {
  color: #191f9f;
  font-size: 1.5em;
  font-weight: bold;
}

.editorial-container > aside > sub {
  color: #121569;
  font-size: 1em;
  font-weight: bold;
}

.editorial-container > aside > article {
  font-size: 1em;
  color: #a0a0a0;
  margin-top: 20px;
}
.editorial-container > footer {
  /* background: #eee; */
  grid-area: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5em;
}

.editorial-container > footer > button {
  background: #ff9100;
  color: #fff;
  border: 1px solid #945a02;
  border-radius: 40px;
  height: 40px;
  width: 90%;
  font-size: 1em;
  cursor: pointer;
}

@media (max-width: 590px) {
  .editorial-container {
    /* min-width: 320px;
    max-height:190px; */
    min-height: 190px;
    height: fit-content;
    font-size: 0.8em;
  }

  .editorial-container > aside > article {
    font-size: 1em;
  }

  .editorial-container > footer > button {
    height: 30px;
    /* font-size: 1.3em; */
  }
}
