.standardAdunit {
    display: grid;
    font-family:  "Neue Haas Grotesk Text Pro 55 Roman",sans-serif;
    background: #eee;
    max-width: 240px;
    height: 280px; 
    -moz-box-shadow: 0 0 5px rgb(88, 83, 83);
    -webkit-box-shadow: 0 0 5px rgb(75, 69, 69);
    box-shadow: 0 0 5px rgb(65, 62, 62);
    grid-template-rows: 2fr 2fr 1fr;
}

.standardAdunit > img {
    width: 100%;
   height: 100%;
    background: #ddd;
}

.standardAdunit > article {
    background: #eee;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.standardAdunit > article > header {
    color:blue;
    font-size: 1.5em;
    font-weight: bold;
}

.standardAdunit > article > sub {
    color:blue;
    font-weight: bold;
}

.standardAdunit > article > aside {
    color: rgb(78, 77, 77);
}

.standardAdunit > footer {
    background: #ddd;
}

.standardAdunit > footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.standardAdunit > footer > button {
    background: orange;
    color: #fff;
    border:1px solid rgb(116, 111, 111);
    border-radius: 40px;
    height:80%;
    width: 90%;
    font-size: 1em;
}